<style>
  body {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url({{image}});
  }
</style>

<div class="jumbotron">
  <h1 class="display-3">Head Lights</h1>
  <p class="lead">Your one stop shop for all your sports news.</p>
  <p class="lead">

    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Browse Articles
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/basketball">Basketball News</a>
        <a class="dropdown-item" href="/football">Football News</a>
        <a class="dropdown-item" href="/baseball">Baseball News</a>
        <a class="dropdown-item" href="/soccer">Soccer News</a>
        <a class="dropdown-item" href="/hockey">Hockey News</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/saved">Saved Articles</a>
      </div>
    </div>

  </p>
</div>